/* TODO Add site wide styles */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	height: 100vh;
}

.errors {
	font-family: monospace;
	color: red;
}

#root {
	box-sizing: border-box;
	background-color: #777777;
  display: grid;
  grid-template-columns: repeat(25, 4vw);
  grid-template-rows: repeat(25, 4vh);
  /* overflow: hidden; */
	height: 100vh;
}

form {
  border-radius: 10px;
  color: snow;
  font-family: monospace;
  font-size: 1.5em;
  justify-items: center;
}

.authForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #4d4d4d;
	grid-column: 5 / 11;
	grid-row: 6 / 17;
}

.authForm input {
	margin-top: 10px;
}

.authForm button {
	margin-top: 15px;
	color: snow;
	font-family: monospace;
	font-size: 1.5em;
	border-radius: 10px;
	background-color: rgb(71, 71, 71);
	padding: 5px;
}

.addResourceForm {
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 80%;
	background-color: transparent;
}

.inputHolderCat {
	margin-top: 15px;
}

.resourceAdd {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	grid-column: 1 / 3;
	grid-row: 1 / end;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(180deg, rgba(42, 106, 165, 0.137) 0%, rgba(187, 187, 187, 0.404) 50%, rgba(42, 106, 165, 0.137) 100%);
	border-right: 3px solid rgba(202, 202, 202, 0.651);
	font-family: monospace;
	height: 100vh;
}

.navbar button {
	background: none;
	border: none;
	font-family: monospace;
}

.navbar button:hover {
	cursor: pointer;
}

.navlink:hover {
	color: rgb(0, 0, 0);
	text-shadow: 2px 2px 2px #ffffff;
}

.navlink {
	display: flex;
	color: #fff;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	align-items: center;
	height: 33%;
	/* width: 100%; */
  background-color: transparent;
}
