/* TODO Add site wide styles */

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  background-color: #777777;
}


#root {
  display: grid;
  grid-template-columns: repeat(25, 4vw);
  grid-template-rows: repeat(25, 4vh);
  overflow: hidden;
}
