.home-container {
  padding: 0;
  grid-row: 1 / end;
  grid-column: 3 / end;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5vh);
  /* overflow: scroll; */
}






::-webkit-scrollbar {
  display: none;
}

.githubAPI-container {
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  grid-row: 12 / end;
  grid-column: 1 / end;
  display: grid;
  overflow: hidden;
  height: 100%;
  background: linear-gradient(180deg, rgba(243,243,243,1)  0%, rgba(60,60,60,0.25) 100%);
}


.githubAPI-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / end;
  font-size: 2.75rem;
  font-family: monospace;
  color: rgb(119, 119, 119);
  text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.githubAPI-container form {
  /* padding: 25px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 6;
  grid-column: 1 / 2;
  /* width: 100%; */
  background-color: aliceblue;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-family: monospace;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.githubAPI-container form input {
  width: 80%;
  height: 35%;
  font-size: 1.35rem;
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
  border-radius: 30px;
  font-family: monospace;
}

.githubAPI-container form button {
  width: 80%;
  height: 30%;
  font-size: 25px;
  border: none;
  background-color: rgba(165, 42, 42, 0.589);
  border-radius: 30px;
  font-family: monospace;
}

.github-info-container {
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  grid-row: 2 / end;
  grid-column: 2 / end;
  display: grid;
  overflow: hidden;
  font-family: monospace;
  height: 30vh;
}

.github-info-container img {
  margin-left: 20%;
  width: 65%;
  border-radius: 50%;
  grid-row: 2 / 5;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.github-info-container h3 {
  margin-left: 20%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.github-info-container p {
  margin-left: 20%;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

.github-info-container a {
  margin-left: 10%;
}



.publicRepos-container {
  grid-column: 4 / 5;
  padding-left: 15%;
  padding-right: 15%;
  grid-row: 2 / end;
  height: 85%;
  background-color: rgba(80, 79, 79, 0.376);
  /* border:1px solid #000; */
  overflow-y: scroll;
  border-radius: 8%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}









.publicRepo {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.publicRepo a {
  text-decoration: none;
  color:white;
  font-size: 1rem;
}

.publicRepo p {
  font-weight: bold;
  font-size: .75rem;
}






.resources-container {
  grid-template-columns: repeat(2, 50%);
  grid-row: 1 / 12;
  grid-column: 1 / end;
  display: grid;
  overflow-y: scroll;
  height: 100%;
	box-sizing: border-box;
  border-bottom: 1px solid #000;
  background: linear-gradient(180deg, rgba(60,60,60,0.25) 0%, rgb(243, 243, 243) 100%);
}



.resources-container div h2 {
  font-size: 4rem;
  font-family: monospace;
  color: #2e2e2e;
}




.resourceAdd {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  grid-row:1 / 2;
  overflow-y: scroll;
  background-color: #9b9b9b;
  border-radius: 80%;
  /* border-top: 20px solid rgba(5, 5, 5, 0.568); */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(243,243,243,1) 100%); */
}


.personalResources {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  grid-row:1 / 2;
  overflow-y: scroll;
  background-color: #9b9b9b;
  border-radius: 80%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  /* border-top: 20px solid rgb(3, 3, 3); */
  /* background: linear-gradient(180deg, rgba(60,60,60,0.25) 0%, rgba(243,243,243,1) 100%); */
}

.cat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  margin: 20px;
  overflow-y: scroll;
  border-radius: 80%;
  border-top: 5px solid rgba(34, 34, 34, 0.561);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: rgb(144, 144, 144);
}

.cat-container:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 19px 38px, rgba(0, 0, 0, 0.4) 0px 15px 12px;
}

.resource {
  width: 30%;
  font-family: monospace;
}

.resource a {
  text-decoration: none;
  font-size: 2rem;
  color:white;
}

.resource p {
  font-size: 1rem;
  color:rgb(75, 75, 75);
}
