.home-container {
  padding: 0;
  grid-row: 1 / end;
  grid-column: 3 / end;
  display: grid;
  grid-template-columns: repeat(20, 5%);
  grid-template-rows: repeat(20, 5vh);
  /* overflow: scroll; */
}






::-webkit-scrollbar {
  display: none;
}

.githubAPI-container {
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  grid-row: 12 / end;
  grid-column: 1 / end;
  display: grid;
  overflow: hidden;
  height: 100%;
  background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(187,187,187,1) 100%);
}

.githubAPI-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 2;
  grid-column: 1 / end;
  font-size: 2.75rem;
  font-family: monospace;
}

.githubAPI-container form {
  /* padding: 25px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: 2 / 6;
  grid-column: 1 / 2;
  /* width: 100%; */
  background-color: aliceblue;
  border-radius: 30px;
  margin-bottom: 20px;
  font-family: monospace;
}

.githubAPI-container form input {
  width: 80%;
  height: 35%;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid #000;
  margin-bottom: 10px;
  border-radius: 30px;
  font-family: monospace;
}

.githubAPI-container form button {
  width: 80%;
  height: 30%;
  font-size: 25px;
  border: none;
  background-color: brown;
  border-radius: 30px;
  font-family: monospace;
}

.github-info-container {
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5, 20%);
  grid-row: 2 / end;
  grid-column: 2 / end;
  display: grid;
  overflow: hidden;
}

.github-info-container img {
  width: 40%;
  border-radius: 50%;

}






.resources-container {
  grid-template-columns: repeat(2, 50%);
  grid-row: 1 / 12;
  grid-column: 1 / end;
  display: grid;
  overflow-y: scroll;
  height: 100%;
	box-sizing: border-box;
  /* grid-gap: 5%; */
  /* padding: 10%; */
  /* background-color: red; */
  background: linear-gradient(180deg, rgba(187,187,187,1) 0%, rgba(60,60,60,1) 100%);
}



.resources-container div h2 {
  font-size: 4rem;
  font-family: monospace;
  color: #2e2e2e;
}




.resourceAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  grid-row:1 / 2;
  overflow-y: scroll;
  background-color: #777777;
  border-radius: 80%;
  border-top: 20px solid rgb(49, 49, 49);  background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(187,187,187,1) 100%);
}

.personalResources {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  grid-row:1 / 2;
  overflow-y: scroll;
  background-color: #777777;
  border-radius: 80%;
  border-top: 20px solid rgb(49, 49, 49);  background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(187,187,187,1) 100%);
}

.cat-container {
  /* width: 80%; */
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  margin: 20px;
  overflow-y: scroll;
  border-radius: 80%;
  border-top: 12px solid rgb(34, 34, 34);
  /* background: linear-gradient(180deg, rgba(60,60,60,1) 0%, rgba(187,187,187,1) 100%); */
  background-color: rgb(144, 144, 144);
}

.resource {
  width: 30%;
  font-family: monospace;
}

.resource a {
  text-decoration: none;
  font-size: 2rem;
  color:white;
}

.resource p {
  font-size: 1rem;
  color:rgb(75, 75, 75);
}
